.tc-full-width-ellipsis {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tc-dim-no-scroll-bars.ant-layout {
  filter: brightness(75%);
}
input.tc-inc-dec-input {
  text-align: center;
}
input.tc-inc-dec-input::-webkit-outer-spin-button,
input.tc-inc-dec-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.tc-left-addon-primary .ant-input-wrapper .ant-input-group-addon:nth-child(1) {
  color: #fff;
  background-color: #40a9ff;
  border-color: #40a9ff;
}
.tc-right-addon-primary .ant-input-wrapper .ant-input-group-addon:nth-child(3) {
  color: #fff;
  background-color: #40a9ff;
  border-color: #40a9ff;
}
.tc-tour-form {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.tc-tour-form > * {
  flex: 1;
}
.tc-tour-form .tc-blur-hide-inputs {
  opacity: 0.7;
  pointer-events: none;
  filter: blur(1px);
}
.tc-tour-form .tc-blur-hide-inputs .ant-form-item {
  opacity: 0;
}
.tc-tour-form .tour-calendar.ant-fullcalendar-fullscreen {
  height: 495px;
}
.tc-tour-form .tour-calendar.ant-fullcalendar-fullscreen .ant-fullcalendar-calendar-body {
  padding: 0;
}
.tc-tour-form .tour-calendar.ant-fullcalendar-fullscreen .ant-fullcalendar-date {
  height: 85px;
}
.tc-tour-form .tour-calendar.ant-fullcalendar-fullscreen .ant-fullcalendar-content {
  text-align: center;
  font-size: 12px;
}
.tc-tour-form .tc-room-form {
  max-width: 350px;
  margin: auto;
}
.tc-tour-form .tc-room-form .ant-form-item {
  margin-bottom: 8px;
}
.tc-tour-form .tc-with-border-bottom {
  border-bottom: 1px solid #e8e8e8;
}
.tc-tour-form .tc-with-border-top {
  border-top: 1px solid #e8e8e8;
}
.tc-tour-form .tc-steps-clickable {
  flex: 0;
}
.tc-tour-form .tc-steps-clickable .ant-steps .ant-steps-item .ant-steps-item-content,
.tc-tour-form .tc-steps-clickable .ant-steps .ant-steps-item .ant-steps-item-icon {
  cursor: pointer;
}
.tc-tour-form .ant-fullcalendar-fullscreen .month-divider {
  color: #000;
  font-size: 18px;
  background: #eee;
  padding: 8px;
  text-align: center;
}
.tc-invoice {
  line-height: 1.5em;
}
.tc-invoice td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tc-invoice .block-header {
  font-weight: bold;
  text-decoration: underline;
  margin-top: 2em;
}
.tc-invoice .invoice_table_style {
  text-align: right;
  width: 100%;
  border-collapse: collapse;
  margin-top: 2em;
}
.tc-invoice .invoice_table_style td {
  white-space: pre;
}
.tc-invoice .invoice_table_style .col1 {
  width: auto;
  text-align: left;
}
.tc-invoice .invoice_table_style .item_name {
  font-size: 1.5em;
  line-height: 1.5em;
}
.tc-invoice .invoice_table_style .header td {
  padding-top: 0.5em;
  border: 0px;
  border-bottom: 1px solid #000;
  border-top: 2px solid #000;
}
.tc-invoice .invoice_table_style .subheader td {
  font-weight: bold;
  padding-top: 0.5em;
  color: rgba(0, 0, 0, 0.87);
}
.tc-invoice .total {
  text-align: right;
  width: 30%;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 1em;
  float: right;
}
.tc-invoice .total .amount {
  padding-left: 1em;
  font-size: 1.5em;
}
.tc-clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.search-deals {
  padding: 10px 0 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f9f4f4;
}
.search-deals input,
.search-deals select,
.search-deals .ant-select-selection {
  border-radius: 0px;
  padding: 7px 12px;
  height: auto;
  font-size: 16px;
  line-height: normal;
}
.search-deals input {
  padding: 10px 12px;
}
.search-deals .deal-submit {
  padding: 10px;
  line-height: normal;
  height: auto;
  font-size: 17px;
  text-align: center;
  min-width: 140px;
  border-radius: 0px;
  transition: all ease-in-out 0.2s;
}
.search-deals .deal-submit:hover {
  background: #9c0a0a;
  border-color: #9c0a0a;
}
.search-result .ant-collapse {
  border-radius: 0;
  margin: 0 0 20px 0;
  border: 1 px solid #ddd;
}
.pagi-wrapper {
  padding: 50px 0 30px;
  margin: 10px 0;
}
.pagi-wrapper .ant-pagination-item,
.pagi-wrapper .ant-pagination-next,
.pagi-wrapper .ant-pagination-prev,
.pagi-wrapper .ant-pagination-item-link {
  border-radius: 0px;
}
#result .search-result .ant-collapse {
  background: #fff;
  border: 0;
  border-radius: 0;
  padding: 0;
}
#result .search-result .ant-collapse .ant-collapse-header {
  line-height: normal;
  padding: 6px 0 6px 15px;
  position: relative;
}
#result .search-result .ant-collapse .ant-collapse-header .anticon.anticon-right.arrow {
  position: absolute !important;
  right: 45px;
  left: initial !important;
  width: 14px;
  height: 14px;
  line-height: 0;
  text-align: center;
  transform: rotate(87deg) !important;
  top: 46%;
}
#result .search-result .ant-collapse .ant-collapse-header[aria-expanded="true"] .list-star {
  color: #af0201;
}
#result .search-result .ant-collapse .ant-collapse-header[aria-expanded="true"] .list-star svg {
  color: #af0201;
}
#result .search-result .ant-collapse .ant-collapse-header[aria-expanded="true"] .anticon.anticon-right.arrow {
  transform: rotate(-88deg) !important;
}
#result .search-result .ant-collapse-item {
  border-radius: 0;
  border-bottom: 1px solid rgba(220, 217, 217, 0.1);
  box-shadow: 0px 2px 5px rgba(150, 146, 146, 0.15);
}
#result .search-result .ant-collapse-item .ant-collapse-content {
  border: none;
}
#result .search-result .ant-collapse-item .ant-collapse-content-box {
  padding: 0 !important;
}
#result .search-result .ant-collapse-header i {
  color: #af0201;
}
#result .search-result .header-list1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#result .search-result .header-list1 img {
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 30px;
}
#result .search-result .header-list1 span {
  font-size: 16px;
  display: inline-block;
  font-weight: 400;
  color: #af0201;
  vertical-align: middle;
}
#result .search-result .header-list1 .attractionInfo {
  position: absolute;
  top: 45%;
  right: 15px;
}
#result .search-result .header-list1 .list-star {
  color: #000000;
  font-size: 16.5px;
}
.ant-modal .ant-modal-header {
  color: #fff;
  background: #af0201;
}
.ant-modal .ant-modal-header .ant-modal-title {
  color: #ffffff;
}
.ant-modal .ant-modal-close {
  color: #ffffff;
}
.ant-modal .ant-modal-close .anticon-close i,
.ant-modal .ant-modal-close .anticon-close svg {
  color: #ffffff;
}
.ant-modal .ant-modal-body img {
  max-width: 400px;
}
.tickets-details {
  padding: 10px;
  margin: 15px;
  background: #fbfbfb;
  position: relative;
}
.tickets-details p {
  margin: 0;
}
.tickets-details p span {
  display: block;
}
.tickets-details .ticketInfo-sec {
  width: 14px;
  height: 19px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 15px;
  color: #af0201;
  cursor: pointer;
}
.tickets-details .list-star1 {
  color: #af0201;
}
.tickets-details .ticket-name strong,
.tickets-details .ticket-price strong {
  color: #af0201;
  font-weight: 600;
}
.tickets-details-terms {
  background: #fbfbfb;
}
#nprogress .bar {
  background: #500;
  height: 5px;
}
#nprogress .spinner-icon {
  width: 24px;
  height: 24px;
  border: solid 3px transparent;
  border-top-color: #500;
  border-left-color: #500;
}
#nprogress .peg {
  box-shadow: 0 0 10px #500, 0 0 5px #500;
}
#nprogress .spinner {
  right: initial;
  left: 20px;
  top: 20px;
}
.ant-layout-header .logo {
  color: #ddd;
  float: left;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
}
.ant-layout-header .right-drawer-buttons {
  float: right;
}
.ant-list-item-content {
  width: 100%;
}
.loader {
  text-align: center;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}
.main-collaspe-relative {
  position: relative;
}
.main-collaspe-relative .attractionInfo {
  position: absolute;
  top: 16px;
  right: 15px;
}
.search-index {
  padding-top: 2%;
}
.search-flight {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2%;
}
.search-field {
  padding-bottom: 1%;
}
.header-index {
  padding-top: 20px;
}
.search-checkin {
  padding-block-start: 8%;
}
.hotel-features {
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
}
.hotel-facility {
  display: list-item;
  margin-left: 1.3em;
  list-style-type: circle;
}
.globalTix-container {
  min-height: 1000;
  background-color: '#fff';
  margin: 48px;
  padding: 32px;
}
.google-map-containter {
  width: 100%;
  height: 400px;
}
